[2016-11-18 01:22] TimMoore opened #9 "Ensure all value classes implement equals/hashCode/toString"
See https://github.com/lagom/online-auction-java/pull/6#discussion_r86748638

[2016-11-23 09:00] ignasi35 opened #10 "Scala code not picked up"
Using scala code (case classes) to create value objects and then use them from java is no possible.
sbt compilation will fail with a `symbol not found` message.

[2016-11-23 09:01] ignasi35 commented on #10
A workaround (mayb the final solution) is to comment the following in build.sbt:

[code]

Needs, a review...

[2016-11-24 04:52] TimMoore commented on #10
Shouldn't we avoid using Scala source in this project? The intended audience is Java developers.

Maybe we can consider bringing in Lombok for value classes?

[2016-11-24 10:43] ignasi35 commented on #10
The title was confusing. I removed the 'case class' part.

This issue is just a means to track how to get scala code picked up. We should move it to lagom/lagom or lagom/activator-chirper so it's easy to answer users who start of 100% java and adopt few bits in scala in the process. Wdyt is the best issue tracker for this ?

[2016-11-24 14:16] ignasi35 opened #12 "Review ItemServiceImplIntegrationTest to see if kafka-testkit could be of help."
After reading: https://github.com/lagom/lagom/issues/287#issuecomment-262762098

And noticing: https://github.com/lagom/lagom/pull/190/files#diff-024a57e412aadbaf28e63f03c73d6cc7R22

Maybe:
https://github.com/ignasi35/online-auction-java/blob/integration-tests-on-item-service/item-impl/src/test/java/com/example/auction/item/impl/ItemServiceImplIntegrationTest.java#L241
could be rewritten using kaf

[2016-11-29 02:02] TimMoore commented on #10
@ignasi35 maybe we should add comments to the activator templates?

[2016-11-29 08:32] ignasi35 commented on #10
Do you mean in README.md files or wiki pages in github? Or straight into the code?

[2016-11-29 08:48] TimMoore commented on #10
I was thinking right in the default `build.sbt` where the Eclipse settings are declared. Add some instructions on how to enable support for mixed Scala/Java projects.

[2016-11-29 08:50] ignasi35 commented on #10
Ok, I'll make sure the error message is listed on an issue too so it's
searchable too.

On Tue, Nov 29, 2016 at 9:48 AM, Tim Moore <notifications@github.com> wrote:

--
Ignasi Marimon-Clos
Software Developer @ Lagom

[2016-11-29 08:50] ignasi35 commented on #10
s/issue/PR

On Tue, Nov 29, 2016 at 9:50 AM, Ignasi Marimon-Clos i Sunyol <
ignasi@lightbend.com> wrote:

--
Ignasi Marimon-Clos
Software Developer @ Lagom

[2016-11-29 10:45] #10 closed

[2016-12-01 21:30] ignasi35 opened #15 "Merge PItemState and PItem"
`PItem` and `PItemState` should be merged. This change will require JSON Evolutions which is why I think it'd better be done as a separate PR.

[2016-12-01 21:55] TimMoore commented on #15
I don't know if we really need to worry too much about JSON evolutions/migrations at this stage. This is really a pre-1.0 thing.

[2016-12-01 21:56] ignasi35 commented on #15
I'm more interested in providing examples and getting used to the costs of refactoring serialised classes.

[2016-12-01 22:02] TimMoore commented on #15
That's a good point, but I think we can be deliberate with our choice of examples for JSON migration, to ensure they're easy for people to understand. Maybe this _is_ a good example, but I want to be sure we're choosing it for that reason 😄

[2016-12-01 22:03] TimMoore commented on #15
Will this require use of the optional serializer?

[2016-12-01 22:10] ignasi35 commented on #15
Maybe not (in any case it's probably coming in akka 2.4.15 😂 ). I'm thinking we could (ab)use the `ItemStatus` enum for that purpose. But I haven't thought of all the implications wrt each of the fields in `PItem`.

[2016-12-15 17:24] ignasi35 opened #17 "Missing ServiceInfo for webGateway causes startup failure."
When installing the app in ConductR the `web-gateway` fails to start:

[code]

That's a play App trying to invoke `bindClient()` but there's no `ServiceInfoProvider` available causing the Guice creation to fail.

Creating a `ServiceInfoProvider` in `ServiceClientGuiceSupport` has some undesired effects on ServiceLocator and ServiceRegistry.

[2016-12-23 17:37] ignasi35 commented on #17
This is blocked by https://github.com/lagom/lagom/pull/349

[2017-01-10 17:56] ignasi35 commented on #12
Moved to core https://github.com/lagom/lagom/issues/352

[2017-01-10 17:56] #12 closed

[2017-01-17 00:10] TimMoore opened #21 "Provide a Maven example"
We discussed converting this project to Maven as an example for Maven/Java users.

Our current thinking is to have both `build.sbt` and `pom.xml` files on the `master` branch, and then to also have long lived `sbt` and `maven` branches that strip the opposite build files out.

[2017-01-19 17:35] benmccann opened #22 "Remove Scala code"
If this is really a Java example then we should not require Scala code. See https://github.com/lagom/online-auction-java/blob/master/web-gateway/src/main/java/controllers/package.scala

[2017-01-19 17:43] benmccann commented on #22
I had to configure the project as a Scala project in Eclipse to get it to work. We should remove the workaround https://github.com/lagom/online-auction-java/pull/23 when this issue is fixes

[2017-02-17 05:40] TimMoore opened #27 "Use a Cluster Singleton for the AuctionScheduler"
`AuctionScheduler` is not cluster aware: it will run its scheduled task on all nodes.

We should demonstrate use of a [cluster singleton](http://doc.akka.io/docs/akka/2.4/java/cluster-singleton.html) to ensure it only runs on one node.

(We should port this change to Scala as well.)

[2017-02-20 05:44] TimMoore opened #28 "Document that the Lombok plugin is needed to load the project in IntelliJ IDEA"
Currently the initial experience for someone importing this project into their IDE is to see errors.

The README should mention that they should install this plugin to make it import cleanly:

https://github.com/mplushnikov/lombok-intellij-plugin

[2017-02-20 07:22] jroper opened #29 "When a user increases their bid from one that's below the reserve, the current price is not updated"
### Steps to reproduce:

1. Create and start an auction with a reserve price of $10 (make sure the duration of the auction is greater than 10 seconds).
2. As another user, place a bid of $5. The big should be accepted, and the returned message should be that it's below the reserve.
3. As that same user, place a bid of $12.

### Expected outcome

The bid is accepted, and the current price is update

[2017-02-20 07:25] jroper opened #30 "It's impossible to create an auction with a currency of Japanese Yen"
When you create an auction in Japanese Yen, it's impossible to enter a valid increment, if it's less than 50, you get an error of invalid.step, if it's more than 50, you get an error of invalid.increment.

[2017-02-20 08:45] jroper commented on #27
Technically there's no problem with this, the worst that will happen is that duplicate commands get sent to end the auction, but the auction entity is tolerant to this.

[2017-02-20 08:46] jroper opened #31 "Missing i18n values for validation error keys"
The web frontend is missing i18n keys for some validation errors, such as invalid.step.

[2017-02-20 08:57] TimMoore commented on #27
I agree that it isn't important in this specific case, but since this is the go-to example for scheduled tasks, and since many use cases _will_ require a cluster singleton, I still think it's worth doing here as an example for others.

[2017-02-20 17:05] ignasi35 opened #32 "Routes collision in ConductR"
When deploying the application in ConductR it deems unusable due to a route collision.

The collision is for the route:

` POST /user`

that should only be resolved by `webGateway` as described in https://github.com/lagom/online-auction-java/blob/master/web-gateway/conf/routes#L6

but the default `bundle.conf` for `users-impl` is configuring the service as:

[code]

*UPDATE*: similar collisions wi

[2017-02-20 17:14] markusjura commented on #32
Having a Lagom Descriptor called `user` and another service that is using the `/user` route is not possible.

Under ConductR, each Lagom service is accessible under `http://:9000/DESCRIPTOR_NAME` where `DESCRIPTOR_NAME` is the name of the Descriptor: https://github.com/lagom/online-auction-java/blob/master/user-api/src/main/java/com/example/auction/user/api/UserService.java#L25

This suffix is nec

[2017-02-20 17:15] ignasi35 commented on #32
Exactly what I did. ;-)

[2017-02-20 17:16] ignasi35 commented on #32
Thanks for the detailed explanation!

[2017-02-20 17:21] ignasi35 commented on #32
@markusjura why is `http://:9000/user` even published in the service gateway if that's a private API? I would expect ` user -> [<list of (ip/port)] ` to exist in a Service Registry that's only consumable from the private network.

What is the motivation to expose the list of services in  `http://:9000/<service-name>` ?

[2017-02-20 17:28] ignasi35 commented on #32
Related to #17

[2017-02-20 23:39] TimMoore commented on #32
Yeah, what does `http://:9000/user` even route to? Shouldn't only ACLs declared by the service descriptor be exposed?

[2017-02-21 00:15] jroper commented on #27
For that we should probably provide an abstraction in Lagom, perhaps offering the ability to schedule something once on every node, to schedule something as a cluster singleton, and to distribute a list of scheduled tasks across all the nodes.

[2017-02-22 16:51] ignasi35 opened #34 "Upgrade to Lagom 1.3.0"
Lagom 1.3.0 introduces some features that should be showcased in online-auction-java:

 - `ProducerStub` for testing Broker consumption
 - replacing `service-name` and `acls` configurations with `bindServiceInfo`programmatic approach.

[2017-02-23 05:05] yg-apaza commented on #30
#37

[2017-02-23 05:07] yg-apaza commented on #30
Fixes #37

[2017-02-23 10:18] #29 closed

[2017-02-24 10:27] ignasi35 opened #38 "Readme overhaul"
(see https://github.com/lagom/online-auction-scala/issues/24)

The project's Readme should list:

 * project context
 * instructions to import into an IDE (see https://github.com/lagom/online-auction-scala/issues/23 and https://github.com/lagom/online-auction-scala/issues/22)

[2017-02-24 11:32] ignasi35 commented on #17
With current PR merges this is almost ready.

We still need to setup proper `sbt-conductr` plugin and test.

[2017-02-25 05:13] lakhina commented on #22
@jroper Should I replace the scala code?

[2017-02-25 05:16] lakhina commented on #21
I am working on this maven port. But having issue in replacing `enablePlugins(PlayJava && LagomPlay)` `enablePlugins(LagomJava)`

Where can I find these plug-ins for maven?

[2017-02-25 05:18] lakhina commented on #9
@TimMoore I see PR is merged about this issue. This issue is still open?

[2017-02-26 01:23] jroper commented on #22
I don't think it's possible to replace - you can't supply a package level implicit field constructor with Java since Java doesn't support implicits.

[2017-02-27 01:57] TimMoore commented on #9
@lakhina the PR referenced above is the original pull request where this issue was pointed out in the first place. It doesn't fix this problem.

[2017-02-27 02:02] TimMoore commented on #21
@lakhina in Maven, there is just one `lagom-maven-plugin`, but it has different options for enabling Play and Lagom projects.

Probably the easiest way to see how to configure it is to create a new Maven project using the archetype to see how that's configured.

http://www.lagomframework.com/documentation/1.3.x/java/GettingStartedMaven.html

There are some more docs on Maven builds at http://www.l

[2017-02-27 05:49] lakhina opened #41 "Project is not working properly with activator"
This project is no longer properly working with `$ activator runAll`
On gitter I got to know that lagom is gradually moving out of activator. I suggest we should remove activator and activator.bat

[2017-02-27 05:53] lakhina commented on #41
Should I go for it?

[2017-02-27 05:54] TimMoore commented on #41
Sure, thanks @lakhina!

[2017-02-27 10:28] ignasi35 opened #43 "Document how to install sbt in readme.md"
Readme.md could contain a link on how to get `sbt` installed.

[2017-02-27 10:31] ignasi35 commented on #41
This is obsolete since #42 was merged.

[2017-02-27 10:31] #41 closed

[2017-02-27 10:40] ignasi35 commented on #43
Alternatively we could add `sbt-launcher` on the repo using https://raw.githubusercontent.com/paulp/sbt-extras/master/sbt but that required  cgywin on Windows and would require detailed instructions and extra installing for windows users anyway.

[2017-02-27 13:53] #31 closed

[2017-02-27 14:06] lakhina commented on #9
@TimMoore Ok I will look into it

[2017-02-27 14:42] lakhina commented on #28
I wanted to know if Lombok plugin is also needed in case of eclipse?

[2017-02-27 15:20] ignasi35 opened #44 "Update README.md links to 1.3 docs"
There's at least one link to Lagom Documentation pointing at java/1.2.x version of the docs.

See https://github.com/lagom/online-auction-java/blame/master/README.md#L36

[2017-02-27 15:23] ignasi35 commented on #44
Also, docs/search-service.md:6 points to 1.2.x docs.

[2017-02-27 15:29] ignasi35 commented on #28
@lakhina that is a very good question. Both IDEs require a plugin, please have a look at: http://www.lagomframework.com/documentation/1.3.x/java/Immutable.html#Lombok

Actually, we could x-ref this project's docs to Lagom documentation.

[2017-02-27 17:03] #28 closed

[2017-02-27 17:20] lakhina commented on #34
@ignasi35 Please tell it is partially complete after https://github.com/lagom/online-auction-java/pull/35

[2017-02-27 17:26] ignasi35 commented on #34
Good catch @lakhina . This is almost ready and only `project/plugins.sbt` needs reviewing. Want to do the honours?

[2017-02-27 17:29] lakhina commented on #34
@ignasi35  Sure :)

[2017-02-27 19:10] #34 closed

[2017-02-27 20:12] yg-apaza commented on #9
So, we need to ensure that all classes use lombok Value?

[2017-02-28 18:08] ignasi35 commented on #9
@lakhina & @yg-apaza there's many ways to fix this issue, one of them is to make all classes use Lombok, another one is to review the current implementation adding/recreating equals/hashCode/toString for all value classes.

Each option has advantages and inconvenients.

[2017-02-28 19:33] garg-anuj commented on #30
This issue is pending from long time. Should I work on it or should I let apaza finish this?

[2017-03-01 14:38] lakhina commented on #43
@ignasi35 I tried `sbt-launche`r with both linux and cygwin and I felt that even though `sbt-launcher` is better option for linux systems but simple `sbt` installation is better in case of windows.

So I propose to put
- `sbt-launcher` in case of linux system
- `sbt` installation for both windows and linux

Should I update README accordingly?

[2017-03-02 10:47] ignasi35 opened #48 "Enable ElasticSearch tests on Travis"
Use Travis CI's support for databases and ScalaTest tagging to run `search-impl` integration tests with ElasticSearch.

A possible issue will be the version miss-match between Travis options and our code/API client.

See also https://github.com/lagom/lagom/issues/569

[2017-03-02 14:03] ignasi35 commented on #43
Well, installing `sbt` is complex enough that sbt's documentation has a dedicated page for each platform ( [Mac](http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Mac.html), [Windows](http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Windows.html) and [Linux](http://www.scala-sbt.org/0.13/docs/Installing-sbt-on-Linux.html) ).

`activator` used to be included in the repo so that a user would

[2017-03-02 14:14] #30 closed

[2017-03-02 17:46] #43 closed

[2017-03-03 01:32] lakhina commented on #48
This issue involve setting up elasticsearch in travis.yml and adding one test to check if it is working. Right?

I will do it

[2017-03-04 05:25] lakhina commented on #22
@jroper Hello Sir, I got a doubt. Then how is this project a java if we are forced to use scala in middle.

[2017-03-04 07:34] lakhina commented on #48
@ignasi35 Hey. Is this approach acceptable?
https://github.com/lakhina/online-auction-java/blob/master/.travis.yml#L5-L14
I liked it as we will not need to install any deb

[2017-03-06 04:44] jroper commented on #22
The project also use JavaScript, HTML, CSS, XML, and a number of other languages.  The templating language used, twirl, is based on Scala.  The build file uses Scala.  It's very common for applications to use multiple languages, even if they primarily use one language.

[2017-03-06 19:38] benmccann commented on #22
One difference is that Java and Scala are compiled together and the Java code doesn't work without the Scala code. That means you can't edit the Java code in your IDE without Scala support installed

I've never used Play's internationalization stuff before, so unfortunately I don't have any suggestions on other solutions for this.

[2017-03-06 23:23] jroper commented on #22
That's actually not the case here - the Scala code is only used by the twirl templates. If we weren't using twirl templates, this code would not be needed. So Scala support is needed in the IDE because we're using twirl, not because of this Scala code.

[2017-03-07 07:32] lakhina commented on #22
@jroper Thanks for info :)

So this issue should be closed?

[2017-03-07 14:38] ignasi35 commented on #48
How about you create a PR and we discuss it on the there? ;-)

Also, I've seen you are committing changes in your `master` branch, I recommend you create a branch per PR.

[2017-03-08 15:40] lakhina commented on #48
@ignasi35 Yes sir, I just tried this commit on master because I dont know how to use travis on other branches. So I was testing my code with travis of my own master

[2017-03-08 17:34] #9 closed

[2017-03-08 17:38] #38 closed

[2017-03-08 22:21] TimMoore commented on #48
Here are some ideas for writing tests that require Elasticsearch:

JUnit support [categories](https://github.com/junit-team/junit4/wiki/Categories). These are ways of tagging tests with a certain marker. We could use a category called `com.example.auction.search.test.ElasticsearchTests` and tag the test classes with that interface.

Then, as described in the [Using categories with SBT docs](https:

[2017-03-09 13:59] ignasi35 commented on #44
Fixed in #47

[2017-03-09 13:59] #44 closed

[2017-03-09 14:02] ignasi35 commented on #32
@markusjura  does this question still apply? If so, can we find some docs on the subject? /cc @TimMoore

[2017-03-09 14:04] ignasi35 commented on #17
This was fixed in a842cb375e58d64ad05e28876cd0a2fd7914dbd9. See https://github.com/lagom/online-auction-java/blob/master/web-gateway/app/Module.java#L13

[2017-03-09 14:04] #17 closed

[2017-03-10 09:35] markusjura commented on #32
@ignasi35 Yes, it still applies. I would need to dive a bit deeper into that again to gain a full understanding. Will not be able to do that today. Hopefully, beginning of next week. I keep you posted.

[2017-03-10 13:12] lakhina opened #55 "Duplicte Bid model class in bidding-impl"
[Bid in bidding-api](https://github.com/lagom/online-auction-java/blob/master/bidding-api/src/main/java/com/example/auction/bidding/api/Bid.java) and [Bid in bidding-impl](https://github.com/lagom/online-auction-java/blob/master/bidding-impl/src/main/java/com/example/auction/bidding/impl/Bid.java) are duplicate. I propose we should remove the Bid.java in bidding-impl

[2017-03-10 13:13] lakhina commented on #55
Should I go for it?

[2017-03-10 13:27] lakhina commented on #55
Was unaware of concept of anti-corryption-layer

[2017-03-10 13:27] #55 closed

[2017-03-13 01:24] yg-apaza commented on #48
Whoa, this is so interesting! I achieved exclusion of Elasticsearch tests when running SBT's test task. Could I continue the work in another PR? Also, is there any way to check Travis CI output before doing the PR?

[2017-03-13 10:30] ignasi35 commented on #48
Would you work together with @lakhina and share your work so you two get to the goal faster?

Anytime you push to a PR (even before merged) a Travis job is run and the output is available via the PR's list of checks passed/failed. Once a PR is merged, the list of checks is collapsed and harder to find but still available.

[2017-03-13 11:02] ignasi35 opened #56 "INSTRUCTIONS: create users"
Add inline instructions to create several users

[2017-03-13 11:03] ignasi35 opened #57 "INSTRUCTIONS: create item and auction it"
Add inline instructions to create items, start an auction and bid on the item.

[2017-03-13 11:03] ignasi35 opened #58 "INSTRUCTIONS: Edit items"
Add inline instructions on how/when a user can edit an item.

An eager user should have some brief info on how/when an item can be edited (item ownership, item status, etc...)

[2017-03-13 11:04] ignasi35 opened #59 "INSTRUCTIONS: search items"
Add inline instructions on how/when to search an item and how the feature is enabled.
An eager user should be helped/guided into enabling and using the search feature. That means linking to the repo README.md on how to enable a local `elasticsearch` instance and explaining how search filters work.

[2017-03-13 11:07] ignasi35 opened #60 "Inline instructions"
Add a feature-flag (enabled by default) to display inline instructions on the user's UI. This means adding text snippets in the rendered HTML so that an eager user gets info in the actual UI when using the app.

Having inline instructions should help a new user get a better understanding of what can be done with the app once started. The feature flag will hide the inline instructions and is meant

[2017-03-16 11:21] #48 closed

[2017-03-16 11:25] ignasi35 opened #62 "Run tests on multiple scala versions"
While working on PR #61  the main comand to run the tests `sbt +test` changed and the current command is not executing the tests cross-scala version: `sbt -DenableElasticsearch=true test` .

This is probably what we want but I'd like to double check it was not added on purpose to demo a particular feature.

/cc @jroper

[2017-03-16 11:27] ignasi35 opened #63 "Use .deb installers in Travis"
After #61 was merged the jobs in Travis are run using `sudo: required`. This takes the build out of a container into a VM where `sudo` can be used.

Without that restriction it may be possible to install elasticsearch by other means.

There may still be a restriction wrt installing the exact version we need to run the tests though.

[2017-03-16 18:28] lakhina commented on #63
Working on it

[2017-03-17 01:49] TimMoore commented on #62
I don't know the context, but I'd guess it was probably picked up from the template and never really considered deliberately: https://github.com/lagom/activator-lagom-java/commit/d939cbbb372d8a29a0360c6ed42cd3b029131422

[2017-03-20 07:08] mehulsr commented on #60
Hi, I have started working on this issue. Please assign it to me @ignasi35 @TimMoore

[2017-03-20 07:10] mehulsr commented on #56
Hi, my PR for this issue was merged. It is still open; does it need enhancement?

[2017-03-20 07:16] TimMoore commented on #56
@mehulsr this is done now. Thanks for pointing it out.

For future reference, GitHub has a convention where if you add "Fixes #56" (or whatever the issue number is) to the description of the pull request, it will close the issue automatically when the pull request is merged. So it's better to use this convention rather than putting the issue number in the title of the pull request, where GitHub do

[2017-03-20 07:16] #56 closed

[2017-03-20 07:18] TimMoore commented on #60
Thanks for commenting @mehulsr. We can't assign the issue to someone who is not part of the lagom organization, but with your comment here, hopefully that will prevent other people from trying to work on this. We'll look forward to your pull request! 😄

[2017-03-20 07:30] mehulsr commented on #60
Sure, no problem @TimMoore :smile:
I'll send in the PR soon!

[2017-03-20 09:39] mehulsr commented on #56
@TimMoore Okay, will keep this in mind for the next PR. Thanks!

[2017-03-21 08:29] #58 closed

[2017-03-21 09:51] #63 closed

[2017-03-22 12:41] #57 closed

[2017-03-23 05:34] anii1234 commented on #32
Run "cf unmap-route YOUR-APP-NAME OLD-ROUTE" to remove the existing route from that app.

[2017-03-23 05:37] anii1234 commented on #32
$ cf env my-app
 Getting env variables for app my-app in org My-Org / space development as admin...
 OK

 System-Provided:
 {
   "VCAP_SERVICES": {
     "p-mysql-n/a": [
       {
         "credentials": {
           "uri":"postgres://lrra:e6B-X@p-mysqlprovider.example.com:5432/lraa
         },
         "label": "p-mysql-n/a",
         "name": "p-mysql",
         "syslog_drain_url": "",
         "t

[2017-03-24 02:00] TimMoore commented on #32
@anii1234 I think you might be in the wrong place 😄

[2017-03-24 14:39] ignasi35 commented on #60
Hi @mehulsr , did you have a chance to move forward on this issue? Is there anything we can do to unblock your progress?

[2017-03-24 19:10] mehulsr commented on #60
Hi @TimMoore
I worked on this a bit and was then thought I'd wait for the other PR's to get merged. I'll make a PR for the instructions that have been added 😄

[2017-03-27 06:13] yg-apaza opened #71 "Complete Javadoc comments"
[code]
Write doc comments for the Javadoc in item-impl: ItemServiceImpl#handleBidEvent. Also complete the doc comments for this services API (following the example in bidding-api and item-api):
- search-api: SearchService#search
- user-api: UserService#createUser, UserService#getUser, UserService#getUsers

[2017-03-27 06:14] yg-apaza opened #72 "Update CreateItem command"
[code]
PItemCommand.CreateItem (item-impl) should take 3 params:
- itemId: UUID
- userId: UUID
- details: PItemData

And remove PItem object in ItemServiceImpl#createItem

[2017-03-27 06:15] yg-apaza opened #73 "Reuse PaginatedSequence and move to a common project"
[code]
- Move PaginatedSequence.java (item-api) to com.example.auction.utils in security project (like in online-auction-scala)
- Migrate SearchResult to use PaginatedSequence

[2017-03-27 06:16] yg-apaza opened #74 "Move to core"
[code]
Move CassandraReadSideUtils (item-impl) to com.example.core (tools project)

[2017-03-27 11:15] #59 closed

[2017-03-29 11:00] ignasi35 opened #75 "Remove custom optional serializer"
#11 introduced a custom serializer for java Optional (see https://github.com/lagom/online-auction-java/blob/master/item-impl/src/main/resources/application.conf#L11-L19 and related class/es).

When this is provided by Akka the custom serializer should be removed and the provided by used instead.

[2017-03-29 15:23] lakhina commented on #74
@yg-apaza Are you working on it?

[2017-03-29 19:23] yg-apaza commented on #74
No, you can work on this :-)

[2017-03-30 00:31] TimMoore commented on #74
@ignasi35 can correct me if I'm wrong, but I think the "move to core" comments were about moving them into the core Lagom framework to be used by all projects, not just about moving them to the `com.example.core` package in this project. That's why the comment also appears in `CompletionStageUtils`.

I think there is a discussion we still need to have amongst the Lagom development team about how w

[2017-03-30 08:32] ignasi35 commented on #74
At @TimMoore  pointed out, moving features from `online-auction` (or other sample apps) into lagom `core` is not a very clear process and we don't have a clear decision process to determine what's a good addition and what isn't.

In the past we've only moved one feature and the steps were:
 - extract code from all the location in  `online-auction` where it's applied/copy-pasted and move it to `too

[2017-03-30 08:35] ignasi35 commented on #74
Also:

[code]

these two files were originally _one_ file used by several classes. One such class was promoted into Lagom via `tools/` and that forced me to move `CompletionStageUtils` from its original location into `tools/`. Then I realised a method required a dependency to Cassandra and I extracted that out and put it back into a new file `CassandraReadSideUtils`.

The process of launching code

[2017-04-02 04:11] yg-apaza commented on #73
@TimMoore @ignasi35 Is the description of this issue valid? Can I start working on it?

[2017-04-03 01:17] TimMoore commented on #73
That sounds about right, but I'm not sure that it makes sense to call the common project "security", since `PaginatedSequence` has nothing to do with security. We may want to rename it to "common" in both versions, or alternatively we might want to go fine grained and have separate "security" and "pagination" projects. Any thoughts?

[2017-04-03 01:18] TimMoore commented on #73
Also, it might not be totally clear, but I think "Migrate SearchResult to PaginatedSequence" really means "Migrate SearchResult to _use_ PaginatedSequence".

[2017-04-03 08:32] ignasi35 commented on #73
Extracting these common code should not alter the `security` project. We may want to reuse the `tools/` project (which is already shared with some services) but it should be clear that this code is not meant for Lagom core.

@TimMoore 's suspicion is correct. I was on a hurry and "Migrate SearchResult to use PaginatedSequence" is what I really meant.

[2017-04-05 00:48] yg-apaza commented on #73
Since `PaginatedSequence` and `SearchResult` have same fields, is this issue about replacing `SearchResult` with `PaginatedSequence<SearchItem>`?
Also, is it ok to move `PaginatedSequence` to `tools/` (com.example.auction.pagination)?

[2017-04-05 10:30] ignasi35 commented on #73
Yes, we didn't do it at first because it wasn't clear that the final classes would be so alike.

Yes.

[2017-04-07 06:05] #73 closed

[2017-04-11 09:16] #60 closed

[2017-05-02 00:25] brw31415 opened #83 "compilation errors"
I cloned this (as sbt project) into IntelliJ, Java 8, and got the following:

Information:5/1/2017 8:11 PM - Compilation completed with 12 errors and 0 warnings in 2m 1s 500ms
C:\Users\RLOPACs\online-auction-java\tools\src\main\java\com\example\auction\pagination\PaginatedSequence.java
Error:(3, 14) java: package lombok does not exist
Error:(4, 24) java: package org.pcollections does not exist

Er

[2017-05-02 02:09] TimMoore commented on #83
Hi @brw31415 have you followed the IDE setup guides?

* [Importing an sbt project into IntelliJ](https://www.lagomframework.com/documentation/1.3.x/java/IntellijSbtJava.html)
* [Integrating Lombok with an IDE](https://www.lagomframework.com/documentation/1.3.x/java/Immutable.html#Integrating-Lombok-with-an-IDE)

[2017-05-15 03:31] TimMoore commented on #74
See also lagom/lagom#732

[2017-05-17 09:32] ignasi35 opened #85 "Update readme: link to getting started pages"
Current readme links to documentation introducing hello world. It'd be better if the links pointed to "https://www.lagomframework.com/get-started-java-maven.html" (and sbt equivalent) instead of "https://www.lagomframework.com/documentation/1.3.x/java/GettingStartedMaven.html"

[2017-05-17 09:32] ignasi35 commented on #85
/cc @rstento

[2017-05-20 13:34] lakhina commented on #85
@ignasi35 Lemme do it

[2017-05-20 13:35] ignasi35 commented on #85
Please, be my guest. :-)

On May 20, 2017 15:34, "Ruchika Lakhina" <notifications@github.com> wrote:

[2017-05-21 15:10] lakhina commented on #85
@ignasi35 I have updated the links.Please review

[2017-05-21 20:38] #85 closed

[2017-05-21 20:38] ignasi35 commented on #85
Yay!

[2017-05-23 06:47] ignasi35 opened #87 "Start and stop ES using runAll hooks"
Using the new feature (https://github.com/lagom/lagom/issues/762) allowing start and stop code to be hooked to `runAll`, it'd be useful to take elasticsearch in online-auction as an example for the feature.

[2017-05-24 08:00] lakhina commented on #87
@ignasi35 As per I can understand from context what we will need to do is

1. Check if ES of proper version is available to run. if not then download and install it.
2. Check if ES is already running.
3. If ES is not running then start the new instance.
4. Clean instance if ant cleaning needed to be done.
5. Stop ES when sbt is being terminated.

Please let me know which of these should exist in p

[2017-05-24 08:11] lakhina commented on #83
@TimMoore Should we close this issue?

[2017-05-24 09:04] lakhina commented on #75
@ignasi35 Not sure if you are pointing toward these https://github.com/lagom/online-auction-java/blob/master/user-api/src/main/java/com/example/auction/user/api/User.java#L17

[2017-05-24 09:12] lakhina opened #88 "User with username and password auth"
As per email if we should provide username and password based login. We get two options for it.

- `Basic Auth` with saving username and password within `User` itself.
- `OAuth/OAuth2` by using any third party lib.

In basic auth  it will need every call to send username and password. That is generally not favourable though.

[2017-05-24 09:31] ignasi35 commented on #75
Hi @lakhina. This issue refers to the serialization engine behind the persistence layer.

Lagom uses two different serialization solutions: one for the service layer (API) and another one to exchange information between the nodes of the akka cluster (pubsub, akka-persistence, etc...).

This issue refers to the later.

Some back-story:
 - Akka provided serializers for several well-known types in bo

[2017-05-24 09:52] ignasi35 commented on #87
I think the example in the PR is quite illustrative: https://github.com/lagom/lagom/pull/763/files#diff-69be132232784c54f9b1cdfc434186af

I would build from that:

1. if the folder  `target/elasticsearch-5.0.2` doesn't exist, download and unzip there
2. don't check if it's already running and just execute the start command. It will fail on start and the user will have to deal with that.
3. if `sbt

[2017-05-24 09:53] ignasi35 commented on #83
HI @brw31415 I assume this was fixed on your environment so I'll close the issue. Feel free to report back and reopen again if other problems related to this issue arise.

[2017-05-24 09:53] #83 closed

[2017-05-24 09:58] lakhina commented on #87
@ignasi35 Where should we download ES so that it do not have to be re downloaded every time after `sbt clean`

[2017-05-24 10:00] ignasi35 commented on #87
I think we can do that on a separate PR.

[2017-05-24 13:06] lakhina commented on #88
@jroper Can you please guide on this.

[2017-05-25 11:05] lakhina commented on #87
@ignasi35 With which version of lagom comes the `lagomInfrastructureServices`. I am not able to find it on lagom 1.3.4

[2017-05-25 11:43] lakhina commented on #87
@ignasi35  I have made the following changes in my [build.sbt](https://github.com/lakhina/online-auction-java/commit/fd0a0e0480301c49160bf3fc6fff2752d9a286ff)

Where am I going wrong?

[2017-05-25 12:34] ignasi35 commented on #87
Hi @lakhina the feature is only available in `master` which means you will only see it if you compile lagom locally and make your PR depend on `1.4.0-SNAPSHOT`.

[2017-05-26 03:48] jroper commented on #88
Hi @lakhina,

I was more thinking of form based login with cookies. online-auction already uses cookie based authentication, so all that's needed is to provide a login page, where the user can enter their username and password, and that should submit it to a controller that checks that the password is correct, and if it is, set the current user in the session to be that user.

Currently we already

[2017-05-29 10:41] lakhina commented on #87
@ignasi35 So should I upgrade online-auction to `1.4.0-SNAPSHOT` or I should wait for this feature to come in stable version?

[2017-05-29 10:45] lakhina commented on #88
@jroper As per I can understand in this way we will we will not be authenticating each REST call we make to the server. Please correct me if I am wrong.

[2017-05-29 10:57] lakhina commented on #87
Realized just now that SNAPSHOT do not exist as remote lib so I guess we should wait for stable version to add this feature to online auction. What do you say?

[2017-05-29 11:03] lakhina commented on #75
@ignasi35 From my understanding at this point we have to replace usage of `com.lightbend.lagom.serialization` with usage of serialization from akka.
Am I going wrong?

[2017-05-29 13:32] ignasi35 commented on #75
@lakhina we have to make sure `[JOptionalSerializer](https://github.com/lagom/online-auction-java/blob/b6bea26afad45461a43c437dfd8ea70e52d783a4/item-impl/src/main/java/com/example/serializer/JOptionalSerializer.java)` (and related code) is removed but the application still works. ;-)

[2017-05-29 13:33] ignasi35 commented on #87
This will not be mergeable until `1.4.0` is out, but in the meantime you can clone `lagom/lagom` and use `publishLocal` in sbt to test your changes. ;-)

[2017-05-29 13:38] ignasi35 commented on #88
@lakhina we could if we add username/pwd on each call and create and setup new `HeaderFilters` for each service.

but that would be wrong. It is a bad idea to have a `username/password` pair in memory and send it on every request. Instead we should use some other form of authentication between services. But that is quite a big task.

This issue should only manage the authentication between the bro

[2017-05-29 17:12] lakhina commented on #88
@ignasi35 @ignasi35 As we want both type of signin options available I will add username/password option in tool if server is started with particular additional parameter. Will that be fine?

[2017-05-29 17:14] lakhina commented on #88
if that env var is set to `true` we provide login screen and hide dropdown and vice versa

[2017-05-29 17:36] lakhina commented on #87
@ignasi35 okay thanks. I am on it

[2017-05-30 10:59] ignasi35 commented on #88
Prefer a settings over an ENV_VAR. Also, I think it's best if we use a `String` settings instead of a `Boolean`. That will give as more freedom of movement when we want to implement other login alternatives: `use-login="<[empty]|basic-form|OAUTH|fancy-stuff|other-fancy>"`

[2017-05-30 11:09] rcavalcanti commented on #88
I personally don't think we should support both methods. I doubt if someone will configure it differently just for the sake of not using a login form. The intention is to have a demo app.
(my 2 cents)

[2017-06-06 19:09] maarek opened #96 "ServiceLocator is not bound"
I pulled down the project and tried to runAll but I just get into a loop of not being able to locate Cassandra.

[code]

[code]

[code]

[2017-06-07 08:21] ignasi35 commented on #96
Hi @maarek, here's some reasons why the error appeared:

 - cassandra did not start properly
 - there's a PROXY resolution setup on you OS causing the connection to `"tcp://127.0.0.1:4000/cas_native"` to be resent to some other IP/PROXY/GW which blocks the port or doesn't complete the redirection
 - other ?

Are you able to reproduce the issue on every invocation?
You can check if cassandra is run

[2017-06-07 09:35] ignasi35 opened #97 "Search Service loses events"
When running the application on a clean environment, if elasticsearch is not running and a user creates an item then that item will not be searchable.

**Steps to reproduce:**

- run the app (make sure the elasticsearch DB is not running)
- create a user "bob" and with that create an item "chair" with a time to auction of 1 day and start the auction
- wait few seconds
- make sure the elasticsearch

[2017-06-07 09:36] #75 closed

[2017-06-07 20:29] maarek commented on #96
@ignasi35 Ah, thanks. It's quite possibly a proxy issue. I am trying to test now to see if that is the case.

[2017-06-12 14:23] yg-apaza opened #98 "Naming convention for private representations of -api projects"
Currently, the private copy for a class of API project is PXyz (like `PItem`, `PItemState`, etc) or sometimes it's the exact same name with only a package difference.
We should settle a naming convention

[2017-06-15 04:39] TimMoore commented on #98
Java doesn't provide a great way to deal with naming conflicts. In Scala you can use relative package names, or import with an alias, but in Java if you have a name conflict between two classes that you need to use in the same file, your only choice is to use a fully-qualified name to distinguish between them. Since it is commonly the case that you need to convert between internal representations

[2017-06-21 11:59] TimMoore commented on #98
Here's what I'm thinking now... would love to hear others' thoughts on this.

- Keep the API response type names simple nouns (like they are now) `Item`, `User`, etc.
- API request types reflect the domain language: use the type of request that you're making such as `UserRegistration`, `ItemListing`, etc.
- Persistence types should use the language of Lagom's API: `ItemEntity`, `ItemState`, `ItemC

[2017-06-21 17:12] ignasi35 opened #103 "transaction service impl fails when auction has no winner."
Current `master`, transaction service is subscribed to items topic.
Through that topic, an `AuctionFinished` event may be received. That event contains an `Optional<UUID> winner` but there may be auctions without winner.
Current code assumes the `Optional<UUID> winner` will always exist:

https://github.com/lagom/online-auction-java/blob/d1f8ce859e6e72ec417e6641acc33cd7e9a551c9/transaction-impl/sr

[2017-06-21 17:28] ignasi35 commented on #103
The easiest way to have a no winner auction is to create an item on a 10 seconds auction, start the auction and let it finish without any bid.

[2017-06-22 02:08] TimMoore commented on #103
Thanks for noticing, and sorry that I missed this.

@yg-apaza can you implement this fix, please? Be sure to add a test for this scenario... ideally add the test first to make sure it fails, then add the fix to make sure it fixes the test. 😄

[2017-06-22 02:57] yg-apaza commented on #103
I fixed this in my huge PR :sweat_smile:
https://github.com/lagom/online-auction-java/blob/master/transaction-impl/src/main/java/com/example/auction/transaction/impl/TransactionServiceImpl.java#L35
I also added a integration test for this scenario: [`shouldNotCreateTransactionWithNoWinner`](https://github.com/lagom/online-auction-java/blob/master/transaction-impl/src/test/java/com/example/auction/

[2017-06-22 03:04] TimMoore commented on #103
Oh, great! @ignasi35 could you have not had the latest `master` when you raised this?

[2017-06-22 11:48] TimMoore commented on #98
Related: #15 ... sounds like @ignasi35 and I share some thoughts.

[2017-06-22 11:56] garg-anuj commented on #98
I missed keeping eye on this one

[2017-06-22 13:00] ignasi35 commented on #103
I found that on my working branch to test lagom `1.4.0-SNAPSHOT` so I missed latest changes, yeah.

[2017-06-22 13:00] #103 closed

[2017-06-22 13:15] ignasi35 opened #105 "Demonstrate usage of lagomExternalProject"
It's be good if we could show off the usage of `lagomExternalJavadslProject` in online-auction. It's a rather unknown feature we could demonstrate further to complement the [docs](https://www.lagomframework.com/documentation/1.3.x/java/MultipleBuilds.html#Splitting-a-system-into-multiple-builds)

[2017-06-22 13:18] lakhina commented on #105
I am not sure how we bot both `lagomExternalJavadslProject` way and single build way in same project and still not confuse people

[2017-06-22 13:28] ignasi35 commented on #105
The solution to handle multi-repo with Lagom is not demo-ed so it'd be good if we found a way. Maybe having two folders in the root of this repo where one folder contains one (external) service and the other contains all the rest (item, bid, user, transaction, security, webGateway, search, ...).
The isolated service should be dependable since it would often be unavailable, but just like `elastcise

[2017-06-23 08:12] yg-apaza opened #107 "Use Case: As a user, I want to see my transactions"
This is based on Item service implementation

- [x] Add service call `getTransactionsForUser` and TransactionRepository (#106)
- [x] Add tests: `TransactionRepositoryTest` (#106)
- [x] web-gateway: Show transactions on `/my/transactions` (#135)

Although it's not related, this task is pending:
- [x] Ensure that  `exception.getCause()` in [this line](https://github.com/lagom/online-auction-java/blo

[2017-06-23 09:07] yg-apaza opened #108 "Using `ctx.commandFailed` with a subclass of TransportException breaks test"
Current state:
- AuctionEntity
  - Throws subclass of `TransportException`: [`BidValidationException`](https://github.com/lagom/online-auction-java/blob/master/bidding-impl/src/main/java/com/example/auction/bidding/impl/AuctionEntity.java#L177) which doesn't implement `equals` and `hashCode`
  [Test](https://github.com/lagom/online-auction-java/blob/master/bidding-impl/src/test/java/com/example/au

[2017-06-23 16:44] ignasi35 commented on #108
Hmmm, this is interesting.
It looks like the TestDriver doesn't capture the exceptions when `thrown` (instead of `ctx.failed`) and so the exception is not serialized/deserialized. That would explain why tests in `AuctionEntity` and `TransactionEntity` pass even though the exceptions used in those tests not alway simplement `equals` and `hashCode`.

This could be an issue. IIRC in actual core code

[2017-06-23 17:05] ignasi35 commented on #107
Would it make sense filter by other criteria? (date, creator VS winner, etc...)
If so, I think filtering criteria should be passed as query params instead of pathParams, WDYT?

[2017-06-25 02:59] yg-apaza commented on #107
I agree, the filter criteria will be: status, date, and type. As for the date, I will need to store `auctionEnd` of `AuctionFinished` event in `Transaction`

[2017-06-25 06:10] yg-apaza commented on #74
Can we start by moving `CassandraReadSideUtils` and also `com.example.auction.item.impl.testkit.*` to `com.example.core`? Then, we can just wait until a decision is made in Lagom.
I think we can use `tools` for both reasons: as a common project and as a launch platform to core.
There have been some times when I was in the need of using these utilities in Transaction service ([This integration test

[2017-06-26 08:14] TimMoore commented on #74
@yg-apaza makes sense to me

Maybe we should keep the `testkit` subpackage for the classes there. (So, `com.example.core.testkit`.

Also, would it be better to call it `com.example.tools` since it's in a project called `tools`? @ignasi35 any opinion on this?

[2017-06-26 08:46] ignasi35 commented on #74
Even if the project is named `tools` I think packages should be as specific as possible (and preferably avoid the `tools` naming altogether). I think an option is to use a packagename as close as possible to what we're aiming when we move the code to `core`.

I chose the name of the project very poorly and now we're getting these confusions. I think there's room in `online-auction` for a project w

[2017-06-26 08:50] TimMoore commented on #74
@ignasi35 what would you suggest as an immediate solution to the problem of sharing code between multiple Online Auction services?

Maybe it makes sense to introduce a new `testkit` subproject... after al, we probably don't want to mix that code into the runtime classpath of the services.

[2017-06-26 09:13] ignasi35 commented on #74
IMHO, `ReadSideTestDriver` should be in `tools`. We know it'll eventually jump into `core`.
But I agree with you that scoping had not been necessary in the past and it is now. So we could put `ReadSideTestDriver` in `tools/src/main/test` and have other projects depend on `tools % "test-> test"` (not sure that's the correct syntax).

Actually, I think `TopicStub` _was_ in `tools` before making it's

[2017-06-26 09:25] TimMoore commented on #108
Should we raise an issue in lagom/lagom about this?

[2017-06-26 15:56] rstento opened #110 "Pre-load a few users and items"
It is cumbersome to create multiple users and at least one item before you can actually exercise the app and bid on something. It would be nice to add a script that loads a few users and items so that someone who downloads and runs online auction could observe the main functionality right away. They could still add other users and items if they wish.

[2017-06-26 17:54] ignasi35 commented on #108
I'd like a double-check with this set of tests to make sure my suspicion is correct. We can raise the issue already and link it back here, I think the four tests listed by @yg-apaza are a great starting point to track and solve the issue.

[2017-06-26 18:58] rstento opened #113 "Beef up readme"
The readme should explain that you open the UI with a browser and how (in general terms) to start an auction.

[2017-06-27 01:23] #113 closed

[2017-06-27 01:26] TimMoore commented on #96
@maarek did you ever have any luck?

[2017-06-27 02:32] TimMoore commented on #105
I think that if we want to do this without making it really complicated to use, we would need to deploy the external project to Maven or some other public artifact repository.

[2017-06-27 03:19] TimMoore commented on #108
Is this the same issue? https://github.com/lagom/lagom/issues/783

The creator closed it, but it sounds like he only found a workaround and it is still an actual bug.

[2017-06-28 11:19] ignasi35 opened #115 "Fresh master clone can't be used"
A fresh clone of `master` is not runnable:

1. clone
2. `sbt runAll`
3.  create a user

**Expected**

Default user home is displayed

**Actual**

[code]

[2017-06-28 23:06] TimMoore commented on #115
@lakhina would you be able to look at this today? Thanks!

[2017-06-29 02:55] lakhina commented on #115
@TimMoore Sure. I will.

[2017-06-29 02:57] lakhina commented on #110
@rstento @TimMoore So should we pull it depending on if it is in development env then run that script on base of env var?

[2017-06-29 03:00] lakhina commented on #105
@TimMoore yes, lagom docs says the same

[2017-06-29 09:27] TimMoore commented on #110
We can check if it's dev mode using this Play API: https://playframework.com/documentation/2.5.7/api/java/play/Environment.html#mode--

Here's an example in the Lagom framework: https://github.com/lagom/lagom/blob/7956d9b3532ff79c9247182de92fe43d94270cc9/logback/src/main/scala/com/lightbend/lagom/internal/logback/LogbackLoggerConfigurator.scala#L58

The `Environment` can be injected into a class c

[2017-06-29 11:00] ignasi35 commented on #108
It's not the same issue. lagom/lagom#783 is about return types in a `scaladsl` service call while this is about serialization checks of arguments, exceptions and returned values in a persistent entity test.

[2017-06-29 19:13] lakhina commented on #115
@TimMoore  I have opened a new PR solving this [issue.](https://github.com/lagom/online-auction-java/pull/118) Please review.

[2017-06-30 02:24] #115 closed

[2017-06-30 05:03] TimMoore commented on #115
Great, thanks for fixing @lakhina and thanks for reviewing and merging @yg-apaza!

For future reference, you can add a comment like "Fixes #115" in the description of the pull request. Then, when the pull request is merged, it will close the issue automatically.

[2017-06-30 05:32] TimMoore opened #120 "Replace ItemService.getUsers"
Right now, the `getUsers` service implementation is not ideal:

[code]

As you can tell from the comment, this code is a quick hack... not something that should be considered a good example of writing a Lagom service.

It has a few problems:

- It is slow. This requires loading each user entity into memory to query it for its details. In a multi-node cluster, this will require multiple calls acros

[2017-07-05 05:26] yg-apaza opened #124 "Update tests to use testkit project"
#121 was merged, next steps are related to updating the existing tests to use the new `testkit` project
Since all source code for `testkit` project was extracted from Item service, I only updated the dependencies in that service
- [x] Update tests in Transaction Service (#134)
- [x] Update tests in User Service (#139)
- [ ] Maybe we should add integration tests on Bidding Service?

[2017-07-13 09:43] lakhina commented on #110
@rstento I will work on it soon

[2017-07-13 09:47] lakhina commented on #120
I am working on adding readside in user. I will work on it as soon as that PR is complete and merged.

[2017-07-14 00:58] TimMoore commented on #110
This library might be helpful https://github.com/DiUS/java-faker

[2017-07-20 20:35] yg-apaza opened #136 "Use Case: As a seller, I want to set delivery price for the buyer"
- [x] Add entity tests: `shouldEmitEventWhenSettingDeliveryPrice`, `shouldForbidSettingDeliveryPriceByNonSeller`
- [x] Add service test: `shouldSetDeliveryPrice`
- [x] Update TransactionEntity and add service call `ServiceCall<Integer, Done> setDeliveryPrice(UUID itemId)`
- [x] UI: transaction.scala.html will show a button "Set delivery price" if the current user is the seller and it will redirect

[2017-07-26 02:38] #136 closed

[2017-07-26 03:05] yg-apaza commented on #107
All pending tasks have been completed, I'll let the filter by other criteria as future improvements.

[2017-07-26 03:05] #107 closed

[2017-08-07 04:10] lakhina opened #141 "Unable to fetch first page from UserInfo"
First page of the UserInfo table is currently not being fetched .

[2017-08-07 04:16] lakhina commented on #141
I have created a new [PR](https://github.com/lagom/online-auction-java/pull/142) resolving this bug.

[2017-08-07 22:43] #141 closed

[2017-08-08 02:04] TimMoore opened #144 "NoSuchElementException after creating a user"
## Reproduction

1. Checkout `master` of `online-auction-java`.
2. `sbt 'set lagomCassandraCleanOnStart in ThisBuild := true' runAll` (to start from a fresh database)
3. Open http://localhost:9000/
4. Click "Create user" in the header
5. Enter values for all fields and click the "Create user"

## Result

In the UI:

Execution exception

`[CompletionException: java.util.NoSuchElementException: No v

[2017-08-08 02:05] TimMoore commented on #144
The user is actually created: the issue is just that an error appears on the next page.

[2017-08-08 02:14] TimMoore commented on #144
I think I understand the problem: the user repository is eventually consistent. This page assumes the user will be available immediately. This is related to the change in #143, but I think we want to take a different approach, and make a `userService.getUser(id)` call to retrieve the details for the currently logged-in user.

[2017-08-08 06:38] TimMoore opened #145 "Change single-user lookups by ID in the web-gateway to use the UserService"
There are a few places in `web-gateway` that look up a user by looping through `nav.getUsers()` and checking for a matching user ID. The current user is also looked up from the same list, and passed when creating a new `Nav`

With the changes in #131, this list of users is incomplete and eventually consistent, so this won't always work.

The following places in the code should be changed to stop u

[2017-08-08 06:42] TimMoore commented on #120
The first part of this was fixed in #131.

The second part has been explained in more detail in #145, so this issue can be closed.

[2017-08-08 06:42] #120 closed

[2017-08-11 09:25] ignasi35 opened #146 "Use gracefulShutdown as described in Lagom docs."
From lagom [docs](https://www.lagomframework.com/documentation/1.3.x/java/Cluster.html#Leaving):

Some services (probably bid, item and transaction) should use gracefulShutdown.

[2017-08-30 01:28] TimMoore commented on #145
Fixed by #143

[2017-08-30 01:28] #145 closed

[2017-08-30 01:29] TimMoore commented on #144
Fixed by #143

[2017-08-30 01:29] #144 closed

[2017-09-04 02:00] #146 closed

[2017-09-12 09:40] fortm opened #156 "Running sbt runAll is giving errors"
I ran sbt runAll after installing ElasticSearch locally on Windows 10 and get all these errors.
The UI would open on 9000 but with these errors. Also , logout button gives the error.

**Do we need to customize some variables in addition to running sbt runAll locally ?**

Errors -> Gettings these exceptions from kafka

[code]

Timeout warnings-> Hundreds of them in log

`15:06:15.676 [warn] akka.ka

[2017-09-12 10:55] ignasi35 opened #157 "Logout causes (UI and logs) exception"
As reported by @fortm, when using the logout button there's an exception on the UI (and also in stdout).

I could reproduce and got a larger stacktrace than reported by @fortm:

[code]

[2017-09-12 10:57] ignasi35 commented on #156
Hi @fortm thanks for reporting this.

I think there are two unrelated issues to solve. I've created #157 to track the error when using `logout` and I'll rename this issue to track the errors on consuming from Kafka in the `SearchService`.

[2017-09-12 11:05] ignasi35 commented on #156
After reviewing the stacktrace you copied:

[code]

I see the error happens on `[sourceThread=transactionImpl-application-akka.actor.default-dispatcher-18...` so that's the `TransactionService`. The `TransactionService` doesn't use `elastic-search` so I don't think the problem is related to elastic-search at all.

Are all the errors you see in the logs happening in the `TransactionService` ? is is

[2017-09-12 14:54] fortm commented on #156
@ignasi35 I was indeed behind a VPN when the above errors come. Last time I got error on biddingImpl-application-akka.actor.default-dispatcher-16 , so it is different than transactionImpl-application-akka.actor.default-dispatcher-18.

When I leave VPN, the error goes away. Also those WakeupException  stops coming after a while when not behind VPN

Can you please help me understand how can we run a

[2017-09-12 17:32] fortm opened #158 "event store uniqueness , saga ,optimistic ui updates"
Hi

Question is more around getting some pointers on using Lagom stack which is opinionated. Cassandra is where Lagom stores events on write-side. In addition, we can use cassandra and databases like elastic search on read side like this project.

But, Cassandra is especially inefficient with "unique inserts", something that the Event Store relies on to guarantee no aggregates are concurrently acc

[2017-09-12 18:03] ignasi35 commented on #156
When running Lagom in Development Mode (`sbt runAll`) the plugin starts 3 processes: Cassandra, Kafka and a JVM with all lagom-specific components. In total you are opening 1 port per service + 4 ports (cassandra, kafka, service locator and service gateway).

All services, kafka and cassandra are registered in the service locator so that clients can discover the `host:port` where each service is s

[2017-09-12 18:17] ignasi35 commented on #158
Hi @fortm this seems to be a generic question, not specific to this repository which may be of interest to other Lagom users.

I think this is better asked in the [lagom mailing](https://groups.google.com/forum/#!forum/lagom-framework) list or the [gitter channel](https://gitter.im/lagom/lagom).

I will close this issue hoping you can move the question there. Thanks!

[2017-09-12 18:17] #158 closed

[2017-09-13 06:46] fortm opened #159 "TransportException on home page"
I have run sbt clean runAll because without clearing target folder, kafka will error out with message - kafka stopped unexpectedly.

But since then getting below error on opening localhost:9000 ->

[code]

[2017-09-13 08:43] fortm commented on #159
However , on restart of machine, error seems to be not coming. I assume it was some corrupted data.

In production, I am considering to use the lagom project with kubernetes without conductR. I believe there won't be so many instances of corrupted data in production. These corruptions must be happening due to embedded cassandra and kafka most likely.

[2017-09-13 10:29] ignasi35 commented on #159
Hi @fortm I also think that's the case.

The embedded Kafka (and ZooKeeper) sometimes fail to flush their state consistently when shutting down. In production, ZK and Kafka rarely see a shutdown and when they do it should be dealt with carefully to ensure the restored service is operating as expected before it's made locatable.

I will close this issue. There is further information on https://gith

[2017-09-13 10:29] #159 closed

[2017-10-11 09:20] chang-chao opened #161 "Nav controller initialization failure in some locales"
The initialization code below in webGateway/controllers/Nav.java will fail for some locales( for example:JAPANESE)

<pre>
    private static final PrettyTime prettyTime = new PrettyTime();
    static {
        prettyTime.removeUnit(JustNow.class);
        ResourcesTimeUnit justNow = new ResourcesTimeUnit() {
            {
                setMaxQuantity(10000);
            }
            @Override

[2017-10-11 09:27] chang-chao commented on #161
Possibility it is an issue of PrettyTime,instead of this project.

[2018-01-12 17:19] BOUAZIZamrou opened #163 "InvalidQueryException: Cannot execute this query as it might involve data filtering and thus may have unpredictable performance."
https://github.com/lagom/online-auction-java/blob/505b60bb817cec93a6e22813619447631aeeedc7/user-impl/src/main/java/com/example/auction/user/impl/UserRepository.java#L88

In the UserRepository I can read this  select statement :
`SELECT * FROM UserInfo  WHERE email = ? `
however  in the create statement the email is not a part of the primary key
[code]

When I tried to execute a similar feature in

[2018-02-23 15:28] skanel opened #165 "sbt runAll raise errro Unknown CF"
[code]

[2018-02-23 19:16] yg-apaza commented on #165
Try doing `sbt clean` and then run `sbt runAll` again

[2018-03-01 10:45] TimMoore commented on #156
Assuming this is no longer an issue. Please comment if you're still having problems @fortm.

[2018-03-01 10:45] #156 closed

[2018-03-06 13:15] ignasi35 opened #166 "logback stacktrace (NPE) when running in devmode"
While testing for the version bump to `1.4.1` I noticed the following stacktrace (See below). It doesn't block the normal usage of the application.

[code]

[2018-03-08 06:36] TimMoore commented on #166
@ignasi35 strange I _don't_ get this. Is is reproducible for you consistently on current `master`?

[2018-03-08 06:52] TimMoore commented on #166
Could this have happened to you during a reload?

https://jira.qos.ch/browse/LOGBACK-1362 suggests that it can happen if you log after an appender is closed.

[2018-03-08 09:13] ignasi35 commented on #166
Yes, I _think_ a reload is necessary. I think I saw it consistently and the only difference compared to other times I worked on `online-auction` is that I was changing code exclusively on the play frontend. I don't think that's relevant but other that the other possible cause is the bump version from 1.3 to 1.4. When I noticed the thread dump it was the first time I was working on `online-auctin`

[2018-03-19 09:14] ignasi35 opened #171 "Disable java serialization completely"
Communication across the Akka cluster uses user-provided serializers falling back to Java's default serialization. Java serialization is known to be slow and prone to attacks.

See more info on [akka docs](https://doc.akka.io/docs/akka/current/remoting.html#disabling-the-java-serializer)

We could disable Java serialization defaults in online auction.

[2018-03-23 09:21] ignasi35 commented on #21
There are other Lagom examples based in Maven:

 * https://github.com/lagom/lagom-java-maven-chirper-example
 * https://github.com/lagom/ibm-integration-examples
 * https://github.com/lagom/lagom-recipes

The ongoing efforts to make this project a hybrid sbt/mvn are abandoned. I'm closing this issue.

[2018-03-23 09:21] #21 closed

[2018-03-23 09:24] ignasi35 commented on #157
Fixed in https://github.com/lagom/online-auction-java/pull/169

[2018-03-23 09:24] #157 closed

[2018-03-23 09:27] ignasi35 opened #173 "Add integration tests on Bidding Service"
Split from https://github.com/lagom/online-auction-java/issues/124

[2018-03-23 09:27] ignasi35 commented on #124
tracking the open subtask on https://github.com/lagom/online-auction-java/issues/173

[2018-03-23 09:27] #124 closed

[2018-03-23 09:47] ignasi35 commented on #96
Haven't heard in a while. Will close.

[2018-03-23 09:47] #96 closed

[2018-03-23 09:49] ignasi35 commented on #88
I've reconsidered. I agree to @renatocaval's statement.

[2018-03-23 09:49] #88 closed

[2018-03-23 09:49] ignasi35 commented on #72
Related #15

[2018-03-23 09:55] #62 closed

[2018-03-23 09:59] ignasi35 commented on #32
This is solved. `user-service` no longer collisions with `web-gateway`

[2018-03-23 09:59] #32 closed

[2018-03-23 10:05] ignasi35 commented on #108
There's an issue now: https://github.com/lagom/lagom/issues/1279

[2018-03-23 10:38] ignasi35 commented on #171
related https://github.com/lagom/online-auction-java/issues/108

[2018-03-23 11:04] ignasi35 opened #175 "Add LO4K8s instructions (remove ConductR)"

[2018-03-23 11:07] #171 closed

[2018-03-23 11:21] ignasi35 opened #176 "Upgrade Elasticsearch to 6.x"
Just run a smoke test using `elasticsearch-6.2.3` and everything seems to work OK.

This requires updating:

- [ ]  docs for installation
- [ ]  travis jobs (`.deb` , etc...)

[2018-03-23 15:05] ignasi35 opened #178 "Replace the deprecated JavaTestKit with current equivalent"

[2018-03-23 19:18] #178 closed

[2018-04-02 19:13] ignasi35 opened #181 "Search service api expects a request body for GET request"
See https://github.com/lagom/online-auction-scala/issues/69

Thanks @getmetorajesh !

[2018-05-09 23:13] TimMoore commented on #175
This was done in #182.

[2018-05-09 23:13] #175 closed

[2018-05-17 09:42] ignasi35 opened #185 "Replace ReadSideTestDriver with testkit-provided"
Lagom 1.4.5 imported `ReadSideTestDriver` from this project into `lagom-testkit`. The implementation here could be removed.

see https://github.com/lagom/online-auction-java/pull/184 and https://github.com/lagom/lagom/milestone/30?closed=1

[2018-07-10 10:53] ignasi35 opened #188 "Cleanup Service descriptor for SearchService"
As mentioned in https://stackoverflow.com/questions/51262399/lagom-withpathparamserializer, the descriptor for Search Service uses a path param serializer which is unnecessary (https://github.com/lagom/online-auction-java/blob/master/search-api/src/main/java/com/example/auction/search/api/SearchService.java#L23).

[2018-09-26 16:42] dwijnand commented on #22
I guess so.

[2018-09-26 16:42] #22 closed

[2018-09-27 13:24] dwijnand opened #193 "Upgrade to Lagom 1.5"
Required by #190

[2018-10-18 09:54] ignasi35 opened #194 "Upgrade to JUnit 5"
(some of the following also applies to JUnit 4)

 - use `assertAll` in Persistent Entity tests with [multiple assertions](https://github.com/lagom/online-auction-java/blob/master/bidding-impl/src/test/java/com/example/auction/bidding/impl/AuctionEntityTest.java#L62-L64) over `outcome`
 - create and use a [`@Fast` annotation](https://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-anno

[2018-11-26 10:27] ignasi35 opened #201 "Fine tune Kafka logger levels"
Since Lagom `1.5.0-RC1` thhe Kafka Consumer is rather chattier at `INFO` level (with some traces including `\n` chars too (: ). Maybe defaults should be `WARN` for `org.apache.kafka`.

Sample:

[code]

[2018-11-26 23:21] marcospereira commented on #193
Closed by #200.

[2018-11-26 23:21] #193 closed

[2019-02-25 17:32] ignasi35 opened #206 "Setup mergify"

[2019-02-25 17:33] ignasi35 opened #207 "Setup probot-settings"